<h1>Guppy App</h1>

<p>A fishwife/systemd (and sinatra/rack) demonstration application.</p>

<p><div><img class="img-responsive" src="Guppy_pho_0048.jpg"></div>
   <a href="https://commons.wikimedia.org/wiki/File:Guppy_pho_0048.jpg"
   >Image by Herald Olsen, CC Attribution 3.0</a></p>

<br/>
<br/>
<br/>

<ul>
<li>rjack-jetty: <%= RJack::Jetty::VERSION %></li>
<li>fishwife: <%= Fishwife::VERSION %></li>
<li>rack: <%= Rack::VERSION.join('.') %></li>
<li>sinatra: <%= Sinatra::VERSION %></li>
</ul>
