<h1>Lionfish App</h1>

<p>A puma/systemd (and sinatra/rack) demonstration application.</p>

<p><div><img class="img-responsive" src="Lionfish_with_Spread_Pectoral_Fins.jpg"></div>
   <a href="https://commons.wikimedia.org/wiki/File:Lionfish_with_Spread_Pectoral_Fins.jpg"
   >Image by "jayhem" CC Attribution 2.0 Generic</a></p>

<br/>
<br/>
<br/>

<ul>
<li>puma: <%= Puma::Const::PUMA_VERSION %></li>
<li>rack: <%= Rack::VERSION.join('.') %></li>
<li>sinatra: <%= Sinatra::VERSION %></li>
</ul>
