[Unit]
Description=Guppy (Fishwife) HTTP Server Sockets

[Socket]
ListenStream=0.0.0.0:9237

NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
