[Unit]
Description=Guppy (Puma) HTTP Server Sockets

[Socket]
ListenStream=0.0.0.0:9238

NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
