[Unit]
Description=Guppy (Puma) HTTP Server
After=network.target
Requires=guppy_puma.socket

[Service]
Type=simple

# Unless using a systemd --user service, specify a non-privledged user
# User=david

# Change this and subsequent paths appropriately for your environment
# /var/local/guppy would be a good choice of production path
WorkingDirectory=/home/david/src/guppy_puma
Environment=RACK_ENV=production
Environment=PUMA_DEBUG=1
ExecStart=/home/david/src/guppy_puma/sbin/puma -C puma.rb

# Define standard FDs for inetd-style inheriting
# Logging still comes through STDERR to the journal
# StandardInput=socket
# StandardOutput=socket
# StandardError=journal

# "Correct" Term exit
# SuccessExitStatus=143

Restart=always

[Install]
WantedBy=multi-user.target
