[Unit]
Description=Lionfish (Puma) HTTP Server
After=network.target

[Service]
Type=simple

# Unless using a systemd --user service, specify a non-privledged user
# User=david

# Change this and subsequent paths appropriately for your environment
# /var/local/lionfish might be a good choice of production path
WorkingDirectory=/home/david/src/lionfish
Environment=RACK_ENV=production
Environment=PUMA_DEBUG=1
ExecStart=/home/david/src/lionfish/sbin/puma -C puma.rb

Restart=always

# Workaround for https://github.com/puma/puma/issues/1344
Environment=RUBYOPT="-v"

[Install]
WantedBy=multi-user.target
